main a {
    display: block;
    background-color: var(--logo-primary-color);
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

main a:hover {
    color: black;
    background-color: var(--logo-second-color);
}

main a:last-of-type {
    margin-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
}

@media (max-width: 730px) {
    footer {
        position: relative;
        width: 100%;
        bottom: 0;
    }
}