@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --primary-color: #fafafa;
    --light-color: #ffffff;
    --dark-color: #c7c7c7;
    --background-color: #f5f4f6;
    --text-color: #000;
    --logo-primary-color: #2d6aaa;
    --logo-second-color: #fadb00;
    --shadow-color: rgb(156, 156, 156);
    --gradient-first-color: #e5e5e5;
    --gradient-second-color: #9ee2dd;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
}

#header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--primary-color);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    border-bottom: 5px solid transparent;
    border-color: var(--dark-color); /* fallback for old browsers */
    -webkit-border-image: -webkit-linear-gradient(
        to right,
        var(--logo-primary-color) 50%,
        var(--logo-second-color) 50%
    );
    -o-border-image: -o-linear-gradient(
        to right,
        var(--logo-primary-color) 50%,
        var(--logo-second-color) 50%
    );
    border-image: -webkit-gradient(
        linear,
        left top, right top,
        color-stop(50%, var(--logo-primary-color)),
        color-stop(50%, var(--logo-second-color))
    );
    border-image: linear-gradient(
        to right,
        var(--logo-primary-color) 50%,
        var(--logo-second-color) 50%
    );
    border-image-slice: 1;
    -webkit-box-shadow: 2px 2px 10px 0 var(--shadow-color);
    box-shadow: 1px 1px 10px 0 var(--shadow-color);
}

#logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#logo h1 {
    color: var(--logo-primary-color);
    margin: 0;
    padding: 0;
}

#logo h1 span {
    color: var(--logo-second-color);
}

#logo h1 a {
    text-decoration: none;
}

nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

nav ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.5;
    border-radius: 20px;
    padding: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

nav ul li a:hover {
    opacity: 1;
    color: #fff;
    background-color: var(--logo-primary-color);
}

main {
    width: 60vw;
    margin: auto;
    margin-top: 130px;
}

main>h2 {
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 30px;
}

article {
    background: var(--gradient-second-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
    background: -webkit-gradient(linear, left top, right top, from(var(--gradient-first-color)), to(var(--gradient-second-color)));
    background: -webkit-linear-gradient(left, var(--gradient-first-color), var(--gradient-second-color));
    background: -o-linear-gradient(left, var(--gradient-first-color), var(--gradient-second-color));
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 5px 20px 20px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

article:hover {
    -webkit-box-shadow: 2px 2px 10px 0 var(--shadow-color);
    box-shadow: 2px 2px 10px 0 var(--shadow-color);
}

article h2 {
    margin-bottom: 2px;
    text-shadow: 4px 4px 5px var(--shadow-color);
    text-transform: capitalize;
}

article span {
    color: rgba(0, 0, 0, 0.6);
}


article header {
    border-bottom: 2px solid transparent;
    border-color: var(--dark-color); /* fallback for old browsers */
    -webkit-border-image: -webkit-linear-gradient(
        to right,
        var(--logo-primary-color),
        var(--logo-second-color)
    );
    -o-border-image: -o-linear-gradient(
        to right,
        var(--logo-primary-color),
        var(--logo-second-color)
    );
    border-image: -webkit-gradient(
        linear,
        left top, right top,
        from(var(--logo-primary-color)),
        to(var(--logo-second-color))
    );
    border-image: linear-gradient(
        to right,
        var(--logo-primary-color),
        var(--logo-second-color)
    );
    border-image-slice: 1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

article section img {
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 10px 10px 0;
}

article section p {
    text-align: justify;
}

article:last-of-type {
    margin-bottom: 50px;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: var(--dark-color);
    text-align: center;
    padding: 0.5em;
}

footer * {
    color: var(--text-color);
    text-decoration: none;
}

@media (max-width: 730px) {
    #header {
        display: block;
        height: 200px;
    }

    #header h1 {
        margin: 10px 0;
        margin-left: 5px;
    }

    #header ul {
        padding: 0;
        display: block;
    }

    #header ul li {
        margin: 15px 0;
    }

    #header ul li a {
        padding: 5px;
    }

    #header {
        position: initial;
    }

    main {
        margin-top: 30px;
        width: 90%;
    }
}