body {
    background-color: #f5f4f6;
    padding-top: 60px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.logo {
    display: flex;
    padding-left: 10px;
    align-items: center;
    background-color: #00c853;
}

.logo span {
    align-self: center;
    margin-left: 10px;
    font-size: 2em;
    font-weight: 500;
}

#header-img {
    height: 60px;
    width: auto;
}

#nav-bar {
    background-color: #009624;
}

#nav-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

#nav-bar ul li {
    margin: 10px auto;
}

#nav-bar ul li a {
    text-decoration: none;
    color: #000;
}

#nav-bar ul li a:hover {
    border-width: 2px 0 0 0;
    border-color: #5efc82;
    border-style: solid;
}

main {
    padding: 0 20px;
    display: grid;
    justify-content: center;
}

main section {
    margin: 50px 0;
}

#email-submit {
    text-align: center;
}

#email-submit h2 {
    margin-bottom: 10px;
}

#email {
    width: 30%;
    min-width: 200px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 2px;
}

#email:focus {
    border-color: lightblue;
}

#form input {
    display: block;
    margin: auto;
}

#form input[type="submit"] {
    margin-top: 10px;
    border: none;
    background-color: #5efc82;
    padding: 5px 20px;
    border-radius: 100px;
}

#form input[type="submit"]:hover {
    background-color: #00c853;
}

.feature {
    display: grid;
    grid-template-columns: 7% 1fr;
    margin: 50px 0;
}

.feature-icon {
    margin-right: 10px;
}

.feature-body h2 {
    margin: 0;
}

#how-works {
    display: grid;
    justify-content: center;
}

#video {
  max-width: 100%;
}

#pricing {
    display: flex;
}

.price {
    margin: 0 auto;
    border: 2px solid black;
    width: 30%;
    text-align: center;
}

.price header {
    border-bottom: 2px solid black;
    background-color: #00c853;
}

.price header h2 {
    margin: 0;
    padding: 20px 0;
}

.price-body ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.price-body ul li {
    margin: 10px 0;
}

.btn-price {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
}

footer {
    background-color: #009624;
    padding: 10px;
    text-align: right;
}

footer ul {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

footer ul li {
    margin-left: 10px;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer ul li a:hover {
    text-decoration: underline;
}

.copy span {
    color: rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width: 700px) {
    body {
        padding-top: 100px;
    }
    
    #nav-bar ul {
        display: block;
    }

    #nav-bar ul li {
        margin: 0;
        padding: 5px 0;
    }
  
    section {
        min-width: 250px;
    }

    .feature {
        display: block;
        text-align: center;
    }

    .feature-icon {
        display: none;
    }

    #pricing {
        display: block;
    }

    .price {
        margin: 20px auto;
        width: 50%;
    }
}